{% extends "root.html" %}
<!DOCTYPE html>
<html>
  <head>
    {% block header %}
    {{ super() }}
    {% endblock %}  
  </head>
  <body>
    <header>
      {% block menu %}{{ super() }}{% endblock %}
    </header>
    <div class="container">
      {% block content %}
      <div class="word-cloud">
        {% for item in items %}
          <div class="word"> {{ item.word }} ({{item.count}})</div>
        {% endfor %}
      </div>
    </div>
    <div class="pagination-container">
      {{ pagination.links }}
    </div>
    {{ pagination.info }}
    {% endblock %}
  </body>
</html>
