{% extends "root.html" %}
<!DOCTYPE html>
<html>
  <head>
    {% block header %}
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    <header>
        {% block menu %}{{ super() }}{% endblock %}
    </header>
    <div class="container">
      {% block content %}
      <form action="/process_url" method="POST">
        <input type="text" name="url"></input>
        <input type="submit"></input>
      </form>
      
      <form action="/reset" method="POST">
        <input type="submit">Reset data</input>
      </form>
      
      <div class="word-cloud">
        {% for item in items %}
          {% if loop.index <= loop.length / 3 %}
          <div class="word big"> {{ item.word }} ({{item.count}})</div>
          {% elif loop.index <= 2 * loop.length / 3 %}
          <div class="word medium"> {{ item.word }} ({{item.count}})</div>
          {% elif loop.index >= 2 * loop.length / 3 %}
          <div class="word small"> {{ item.word }} ({{item.count}})</div>
          {% endif %}
        {% endfor %}
      </div>
      {% endblock %}
    </div>
  </body>
</html>


